@import "reset.css";
@import "color.css";
@import "scrollbar.css";
@import "transitions.css";

html {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray-600);
  opacity: 1;
}

.dark input::placeholder,
.dark textarea::placeholder {
  color: var(--charcoal-200);
}

.w-fit {
  width: fit-content;
}
